{% extends 'base.backoffice.html.twig' %}

{% block title %}Posts index{% endblock %}

{% block body %}
    <div style="padding-left: 10px;padding-top 100px" class="container">

    <h1>Posts index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>Date_creation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.contenu }}</td>
                <td>{{ post.dateCreation ? post.dateCreation|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_posts_show', {'id': post.id}) }}">show</a>
                    <a href="{{ path('app_posts_edit', {'id': post.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_posts_new') }}">Create new</a>
    </div>
{% endblock %}
