{% extends 'base.backoffice.html.twig' %}
{% block head %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block title %}Posts{% endblock %}

{% block body %}
    <div style="padding-left: 10px;padding-top: 100px" class="container">

    <h1>Détails</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id Publication</th>
                    <td>{{ post.id }}</td>
                </tr>
                <tr>
                    <th>Contenu</th>
                    <td>{{ post.contenu }}</td>
                </tr>
                <tr>
                    <th>Publiée en tant que</th>
                    <td>
                        {% if post.postedAs =='Anonyme' %}
                            Anonyme
                        {% elseif post.postedAs =='Username'%}
                            Username
                        {% else %}
                            {{ post.utilisateur.prenom }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>User ID</th>
                    <td>

                        {% if post.utilisateur is null %}
                            NA
                        {% else %}
                            {{ post.utilisateur.id }}
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Date création</th>
                    <td>{{ post.dateCreation ? post.dateCreation|date('Y-m-d H:i:s') : '' }}</td>

                </tr>
                <tr>
                    <th>Date dernière modification</th>
                    <td>{{ post.lastModification ? post.lastModification|date('Y-m-d H:i:s') : '' }}</td>

                </tr>
                <tr>
                    <th>Likes</th>
                    <td>
                        <div class="row">
                            <div class="col">
                                {{ post.likedBy|length }}
                            </div>
                            <div class="col">
                                <form action="{{ path('app_posts_like', {'id': post.id}) }}" method="post">
                                    <button type="submit" class="btn btn-primary"><i class="fas fa-thumbs-up"></i>Like</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Dislikes</th>
                    <td>
                        <div class="row">
                            <div class="col">
                                {{ post.dislikedBy|length }}
                            </div>
                            <div class="col">
                                 <form action="{{ path('app_posts_dislike', {'id': post.id}) }}" method="post">
                                    <button type="submit" class="btn btn-secondary"><i class="fas fa-thumbs-down"></i> Dislike</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <table class="table">
            <tbody>
                <tr>
                    <div style="text-align: center;">

                        <div class="row">
                            <div class="col">
                                <a href="{{ path('app_comments_index' , {'postId': post.id}) }}" class="btn btn-success">Afficher commentaires ({{ post.getComments()|length }}) </a>
                            </div>
                            <div class="col">
                                <a href="{{ path('app_posts_edit', {'id': post.id}) }}" class="btn btn-secondary">Modifier</a>
                            </div>
                            <div class="col">
                                <a href="{{ path('app_posts_index') }}" class="btn btn-primary">Retour à la liste</a>
                            </div>
                            <div class="col">
                                {% include 'backoffice/posts/_delete_form.html.twig' %}
                            </div>
                        </div>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
