{% extends 'baseFront.html.twig' %}

{% block content %}
	{# <div class="container-fluid">
		<title>Evenement index</title>
		<h1>Evenement index</h1>

		<table class="table">
					<thead>
						<tr>
							<th>Nom</th>
							<th>DateEvent</th>
							<th>Description</th>
							<th>Prix</th>
							<th>Adress</th>
							<th>Longitude</th>
							<th>Latitude</th>
							<th>PlaceDispo</th>
						</tr>
					</thead>
					<tbody>
						{% for evenement in evenements %}
							<tr>
								<td>{{ evenement.dateEvent ? evenement.dateEvent|date('Y-m-d H:i:s') : '' }}</td>
								
								<td>{{ evenement.adress }}</td>
								<td>{{ evenement.longitude }}</td>
								<td>{{ evenement.latitude }}</td>
		
							</tr>
						{% else %}
							<tr>
								<td colspan="11">no records found</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
	</div> #}
    <h1>naviguez nos évènements </h1>
	{% for evenement in evenements %}
    
		<section id="services" class="services">
			<div class="container">

				<div class="section-title">
					<div class="row">
						<div class="col-lg-4 col-md-6 d-flex align-items-stretch">
							<div class="icon-box">
								<div class="icon">
									<i class="fas fa-heartbeat"></i>
								</div>
								<h4>
									<a href="{{ path('app_evenement_show', {'id': evenement.id}) }}">{{ evenement.nom }}</a>
								</h4>
								<p>{{ evenement.description }}</p>
								<h5>{{ evenement.PlaceDispo }} Places disponibles</h5>
                                <h6>{{ evenement.prix }} DT</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
       
	{% else %}
		<tr>
			<td colspan="11">no records found</td>
		</tr>
	{% endfor %}
{% endblock %}
