

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-0 shadow-lg p-4 rounded" style="background-color: #f9f9f9;">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4" style="color: #000; font-family: 'Arial', sans-serif; font-size: 2.5em;">Medicament</h2>

                    {% if form_errors(form) %}
                        <div class="alert alert-danger" role="alert">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}

                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                     <div class="mb-3">
                        {{ form_label(form.reference , 'reference ', {'label_attr': {'class': 'form-label', 'style': 'color: #000;'}}) }}
                        {{ form_widget(form.reference , {'attr': {'class': 'form-control'}}) }}
                        {% if form_errors(form.reference ) %}
                            <div class="alert alert-danger" role="alert">
                                {{ form_errors(form.reference ) }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form_label(form.stock, 'stock', {'label_attr': {'class': 'form-label', 'style': 'color: #000;'}}) }}
                        {{ form_widget(form.stock, {'attr': {'class': 'form-control'}}) }}
                        {% if form_errors(form.stock) %}
                            <div class="alert alert-danger" role="alert">
                                {{ form_errors(form.stock) }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form_label(form.disponibilite,  'disponibilite ', {'label_attr': {'class': 'form-label', 'style': 'color: #000;'}}) }}
                        {{ form_widget(form.disponibilite,  {'attr': {'class': 'form-control'}}) }}
                        {% if form_errors(form.disponibilite  )%}
                            <div class="alert alert-danger" role="alert">
                                {{ form_errors(form.disponibilite)  }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form_label(form.description , 'description ', {'label_attr': {'class': 'form-label', 'style': 'color: #000;'}}) }}
                        {{ form_widget(form.description , {'attr': {'class': 'form-control'}}) }}
                        {% if form_errors(form.description ) %}
                            <div class="alert alert-danger" role="alert">
                                {{ form_errors(form.description ) }}
                            </div>
                        {% endif %}
                    </div>
                    
                    <div class="mb-3">
                        {{ form_label(form.prix  , 'prix  ', {'label_attr': {'class': 'form-label', 'style': 'color: #000;'}}) }}
                        {{ form_widget(form.prix  , {'attr': {'class': 'form-control'}}) }}
                        {% if form_errors(form.prix  ) %}
                            <div class="alert alert-danger" role="alert">
                                {{ form_errors(form.prix  ) }}
                            </div>
                        {% endif %}
                    </div>


                   

                    

                    <div class="text-center">
                        <button type ="submit" class="btn btn-primary btn-lg" style="background-color: #4a90e2;">submit</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

 

    