{% extends 'base.html.twig' %}

{% block title %}Pharmacie{% endblock %}

{% block body %}


    <h1>Pharmacie</h1>
<div style="padding-left: 200px;padding-top: 200px" class="container">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pharmacie.id }}</td>
            </tr>
            <tr>
                <th>IdU</th>
                <td>{{ pharmacie.idU }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ pharmacie.nom }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ pharmacie.adress }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ pharmacie.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_pharmacie_index') }}">back to list</a>

    <a href="{{ path('app_pharmacie_edit', {'id': pharmacie.id}) }}">edit</a>

    {{ include('frontoffice/pharmacie/_delete_form.html.twig') }}
    </div>
{% endblock %}
