

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card border-0 shadow-lg p-4 rounded" style="background-color: #f9f9f9;">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4" style="color: #000; font-family: 'Arial', sans-serif; font-size: 2.5em;">Pharmacie</h2>

                    {% if form_errors(form) %}
                        <div class="alert alert-danger" role="alert">
                            {{ form_errors(form) }}
                        </div>
                    {% endif %}

                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                     <div class="mb-3">
                        {{ form_label(form.idU, 'idU', {'label_attr': {'class': 'form-label', 'style': 'color: #000;'}}) }}
                        {{ form_widget(form.idU, {'attr': {'class': 'form-control'}}) }}
                        {% if form_errors(form.idU) %}
                            <div class="alert alert-danger" role="alert">
                                {{ form_errors(form.idU) }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form_label(form.nom, 'Nom', {'label_attr': {'class': 'form-label', 'style': 'color: #000;'}}) }}
                        {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
                        {% if form_errors(form.nom) %}
                            <div class="alert alert-danger" role="alert">
                                {{ form_errors(form.nom) }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form_label(form.adress, 'Adresse', {'label_attr': {'class': 'form-label', 'style': 'color: #000;'}}) }}
                        {{ form_widget(form.adress, {'attr': {'class': 'form-control'}}) }}
                        {% if form_errors(form.adress) %}
                            <div class="alert alert-danger" role="alert">
                                {{ form_errors(form.adress) }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="mb-3">
                        {{ form_label(form.type, 'Type', {'label_attr': {'class': 'form-label', 'style': 'color: #000;'}}) }}
                        {{ form_widget(form.type, {'attr': {'class': 'form-control'}}) }}
                        {% if form_errors(form.type) %}
                            <div class="alert alert-danger" role="alert">
                                {{ form_errors(form.type) }}
                            </div>
                        {% endif %}
                    </div>

                   

                    

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg" style="background-color: #4a90e2;">submit</button>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>

       

    