{% extends 'base.html.twig' %}

{% block body %}

    <div style="padding-top: 200px" class="container">
        <h1>Laboratoires index</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Emplacement</th>
                <th>IdU</th>
                <th>IdL</th>

            </tr>
            </thead>
            <tbody>
            {% for laboratoire in laboratoires %}
                <tr>
                    <td>{{ laboratoire.id }}</td>
                    <td>{{ laboratoire.nom }}</td>
                    <td>{{ laboratoire.emplacement }}</td>
                    <td>{{ laboratoire.idU }}</td>
                    <td>{{ laboratoire.idL }}</td>
                    <td>
                        {# <a href="{{ path('app_laboratoires_show', {'id': laboratoire.id}) }}" class="btn btn-primary">Show</a> #}
                        {# <a href="{{ path('app_laboratoires_edit', {'id': laboratoire.id}) }}" class="btn btn-secondary">Edit</a> #}
                        {# {{ include('frontoffice/laboratoires/_delete_form.html.twig') }} #}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# <a href="{{ path('app_laboratoires_new') }}" class="btn btn-success">Create new</a> #}

    </div>

{% endblock %}